.login {
  margin: 20vh auto auto auto;
  height: auto;
  width: 50vw;
  background-color: #282c34;
  text-align: center;
  padding: 3rem;

  .login-h1 {
    color: white;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .login-label {
    color: white;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }

  .login-input {
    width: 12rem;
    height: 2rem;
    display: block;
    margin: auto;
    border-radius: 1rem;
  }

  .error-form {
    color: red;
  }
}
