.login {
  margin: 20vh auto auto auto;
  height: 50vh;
  width: 50vw;
  background-color: #282c34;
  text-align: center;
  padding-top: 4rem;

  .login-h1 {
    color: white;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .login-label {
    color: white;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }

  .login-input {
    width: 12rem;
    height: 2rem;
    display: block;
    margin: auto;
    border-radius: 1rem;
  }

  .login-button {
    text-decoration: none;
    color: black;
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 12rem;
    height: 2rem;
    border: 3px solid blueviolet;
    border-radius: 1rem;
    cursor: pointer;
  }
}
