.login-button {
  background-color: white;
  text-align: center;
  color: black;
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 12rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.login-button-border-login {
  border: 3px solid rgb(43, 226, 98);
}

.login-button-border-standard {
  border: 3px solid rgb(85, 47, 255);
}
